html {
	color: #111;
	overflow-x: hidden; 
}
body {
	overflow: hidden;
	font-family: 'Noto Sans', sans-serif;

}
h2 {
	margin: 3rem 0 2rem;
	font-weight: bold;
}

header {
	background: url('/images/bg/bg101.jpg') no-repeat center;
	background-size: cover;
	overflow-x: hidden;
	padding: 2rem 0;
}
section {
	padding: 1rem 0 3rem;
	position: relative;
}
.btn-outline-light {
	color: #fff;
	border-color: #E6551F;
	background-color: #E6551F;
}
.btn-outline-light:hover {
	color: #fff;
	border-color: rgb(184, 66, 23);
	background-color: rgb(184, 66, 23);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background-color: #0042cc;
}
.logo {
	padding: 0 5rem;
}
.logo img {
	max-width: 100%;
}
.phones {
	/* text-align: right; */
}
.callback {
	text-align: right;
    padding: 0 2rem 0 0;
}
.phones-row {
	text-align: right;
	padding: 0 0 0.3rem 0;
}
.phones a{
	color: #fff;
	font-weight: bold;
	text-decoration: none; 
}
.callback button {
	margin: 0.5rem;
}
nav {
	padding: 8rem;
	color: rgb(255, 245, 240);
	font-weight: bold;
}
nav .nav-item {
	width: 100%;
	margin: 0.4rem 0;
	padding: 0 0 0 3rem;
	font-size: 1.5rem;
}
nav  a {
	color: #ffffff;
	transition: all 0.3s;
}
nav  a:hover {
	color: #E6551F;
	text-decoration: none;
	padding-left: 0.5rem;
}
nav  a:hover > img{
	filter: invert(51%) sepia(60%) saturate(5715%) hue-rotate(352deg) brightness(95%) contrast(90%);
}
nav  img {
	height: 2rem;
	width: 2rem;
	margin-right: 1rem; 
	filter: invert(100%) sepia(0%) saturate(7434%) hue-rotate(46deg) brightness(116%) contrast(112%);
}


.alternate {
	padding: 8rem 2rem 8rem 0;
	color: #fff;
	text-align: right;
}
.alternate h1 {
	line-height: 5rem;
	font-size: 3.5rem;
	font-weight: bold;
}

.alternate p {
	line-height: 3rem;
	font-size: 2.5rem;
}

#about {
	background-image: url('/images/bg/bg11.svg');
	background-size: cover;
	background-position: center;
	z-index: 10;
	color: #fff;
	margin: -6rem 0 0;
    padding: 5rem 0 8rem;
    clip-path: polygon(0 6rem, 100% 0, 100% 100%, 0 100%);
}
#catalog {
	padding: 0 0 2rem;
}
#catalog .row{
	background: #fff;
}
#catalog h2 {
	color: #111;
}
#catalog .change .btn span{
	font-weight: bold;
}
#catalog .preview {
	padding: 1rem;
	margin-top: -5rem;
}
#catalog .preview-a {
	position: relative;
	display: block;
	width: 300px;
}
#catalog  .zoom {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #111;
	transition: all 0.5s;
}
#catalog .preview-img {
	position: relative;
	display: block;
	width: 100%;
}
#catalog .preview-container {
	width: 300px;
	height: 350px;
	margin: auto;
	overflow: hidden;
}
#catalog .preview-wrapper {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	transition: all 0.5s;
}
.left-arrow, .right-arrow {
	position: absolute;
	top: 100px;
	z-index: 10;
}
.left-arrow {
	left: 45px;
}
.right-arrow {
	right: 45px;
}
#catalog .preview-a:hover > .zoom{
	bottom: 50%;
	right: 50%;
	color: #ccc;
	font-size: 2rem;
	transform: translate(50%, 50%);
}
#catalog .preview-a:hover  {
	text-decoration: none;
}
#catalog .change {
	padding: 1rem 0;
}
#catalog .color {
	color: #000000;
	text-decoration: none;
}
.catalog-gallery {
	padding: 2rem 3rem;
}
.catalog-gallery ul {
	padding: 0;
}
.catalog-gallery li {
	list-style: none;
	float: left;
	margin: 3px;
	border: 2px solid #fff;
	cursor: pointer;
}
.catalog-gallery li:hover {
	border: 2px solid #E6551F !important;
}

.main-form p {
	line-height: 1rem;
	font-size: 0.8rem;
	margin: 0.3rem 1rem;
}
#section-main-form {
	position: relative;
	color: #fff;
	background: url("/images/bg2.jpg");
	background-size: cover;
	clip-path: polygon(0 0, 50% 5rem, 100% 0, 100% 100%, 0 100%);
	margin-top: -2rem;
	padding-top: 5rem;
}
#mainForm {
	padding: 2rem;
	border: #343D45 1rem solid;
	background-color: rgba(0,0,0,0.7)
}
.order-preview {
	float: left;
	margin: 1rem 2rem 0.5rem 0;
	border: #111 solid 3px;

}
#install {
	background-image: url("/images/bg/bg5.jpg");
	background-size: cover;
}
.install-line {
	/* padding: 1rem 0; */
}
.install-icon {
	width: 30%;
	text-align: center;
}
.install-icon img{
	padding: 1rem 0;
	width: 4rem;
}
.filter{
    filter: invert(22%) sepia(17%) saturate(1426%) hue-rotate(320deg) brightness(94%) contrast(90%);
}
.install-desc {
	padding: 0.5rem;
	width: 70%;
}
.install-desc h3 {
	line-height: 1.5rem;
	font-size: 1.3rem;
}
.install-desc p {
	line-height: 1.3rem;
	font-size: 1.1rem;
}
#advantages {
	background-image: url("/images/bg/bg11.svg");
	background-size: cover;
	background-position: center;
	padding: 0 0 8rem 0;
	color: #fff;
}
.advantages-video {
	text-align: center;
}
#gallery {
	background-image: url("/images/bg/bg5.jpg");
	background-size: contain;
}
#gallery figure {
	transition: all 0.5s;
}
#gallery figure:hover {
	transform: scale(1.1);
}
#podlokotniki {
	background-image: url("/images/bg/bg11.svg");
	background-size: cover;
	background-position: center;
	padding: 0 0 8rem 0;
	color: #fff;
	z-index: 10;
}
.podlokotniki-carousel {
	padding: 1rem;
	margin: 1rem 0;
	background: #fff;
	/* border: rgb(85, 93, 100) solid 5px;*/
	color: #343D45; 
	font-size: 0.8rem;
}
.podlokotniki-carousel div{
	text-align: center;
}
.podlokotniki-desc {
	padding: 1rem; 
}
.podlokotniki-desc a, .podlokotniki-desc button {
	margin: 0 0.3rem 1rem;
} 
#podlokotniki .btn-outline-primary {
	color: #fff;
	border-color: #E6551F;
	background-color: #E6551F;
}
#podlokotniki .btn-outline-primary:hover {
	color: #fff;
	border-color: rgb(184, 66, 23);
	background-color: rgb(184, 66, 23);
}
#mats {
	background-image: url("/images/bg/bg5.jpg");
	background-size: cover;
	z-index: 0;
	margin: -8rem 0 0 0;
	padding: 8rem 0 2rem;
}
.mats-carousel {
	padding: 1rem;
	/* background: #fff;
	border: rgb(85, 93, 100) solid 5px; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
.mats-carousel a{
	font-size: 0.7rem;
	color: #343D45;
	text-decoration: none;

	transition: all 0.5s;
}
.mats-carousel a:hover {
	transform: scale(1.1);
}
.mats-carousel img {
	width: 120px;
	height: 120px;
	margin: 5px;

}

.mats a, .mats button {
	display: block;
	margin: 0 0.3rem 1rem;
} 
#mats .btn-outline-light {
	color: #fff;
	border-color: #E6551F;
	background-color: #E6551F;
}
#mats .btn-outline-light:hover {
	color: #fff;
	border-color: rgb(184, 66, 23);
	background-color: rgb(184, 66, 23);
}
.capes-desc img {
	width: 100%;
	padding: 1rem 0;
}
.card-1 {
	border: #999 solid 1px;
	margin: 0.5rem 0;
}
.capes-desc span {
	font-weight: bold;
}
.colors .cape-preview img {
	width: 100%;
	padding: 1rem 0;

}
.cape-preview-controls img {
	display: inline-block;
	padding: 0.2rem;
	cursor: pointer;
	border: 2px solid transparent;
}
.cape-preview-controls img:first-child {
	border: 2px solid #E6551F;
}
#reviews {
	background-image: url("/images/bg/bg11.svg");
	background-size: cover;
	background-position: center;
	padding: 0 0 8rem 0;
	color: #fff;
	z-index: 10;
}
.youtube {
	position: relative;
	margin: auto;
	background-size: cover;
}
.youtube-play {
	background-image: url(/images/youtube.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 60px;
	width: 90px;
	top: 50%;
	left: 50%;
	margin-left: -45px;
	margin-top: -30px;
	position: absolute;
	border-radius: 21px;
	background-position: 50% 50%;
	cursor: pointer;
}
.youtube-play:hover {
	box-shadow: 0 0 12px 0 #000;
}
.youtube, iframe {
    width: 560px;
    height: 315px;
}
@media only screen and (max-width: 1200px) {
	.alternate h1 {
		line-height: 3rem;
		font-size: 2.3rem;
	}
	.alternate p {
		line-height: 2rem;
		font-size: 1.3rem;
	}
    .youtube, iframe {
		width: 370px;
		height: 208px;
	}
	nav li {
		font-size: 1.2rem;
	}
} 
@media only screen and (max-width: 767px) {
	h2 {
		margin: 2rem 0 1rem;
	}
	.alternate {
		text-align: center;
		padding: 4rem 1rem 2rem 1rem;
	}
	.alternate h1 {
		line-height: 2rem;
		font-size: 1.5rem;
	}
	.alternate p {
		line-height: 1.6rem;
		font-size: 1.2rem;
	}
	nav {
		padding: 2rem 0 8rem;
		margin: 0 1rem;
	}
	nav a {
		font-size: 1rem;
		line-height: 1.2rem;
	}
	nav .nav-item {
		border: #fff solid 1px;
		text-align: center;
		padding: 1rem;
		margin: 0;
	}
	nav  img {
		display: none;
	}
	.change .btn{
		font-size: 0.8rem;
		padding: 0.25rem;
	}
	#catalog .preview {
		margin-top: 0;
	}
	#catalog .preview a {
		/*width: 60%;*/
		margin: auto;
	}
	#catalog .preview-img {
		width: 70%;
		margin: auto;
	}
	.catalog-gallery ul {
		display: flex;
		transition: all 0.5s;
	}
	.catalog-gallery {
		padding: 0.5rem;
		overflow: hidden;
	}
	#catalog .preview-container {
		height: auto;
	}
	.left-arrow {
		left: 5px;
	}
	.right-arrow {
		right: 5px;
	}
	#section-main-form {
		padding-bottom: 0;
	}
	#mainForm {
		padding: 1rem;
	}
    .youtube, iframe {
		width: 300px;
		height: 169px;
	}
	.logo {
		padding: 0 0 0 1rem;
	}

} 
footer {
	margin-top: -8rem;
	padding-top: 10rem;
	min-height: 4rem;
	background: #111;
}
footer .copyright {
	padding-top: 3rem;
	color: #fff;
	margin: 1rem auto;
}
footer .copyright a {
	color: #E6551F;
}
/*=================================modal======================================================*/
/*============================================================================================*/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
/*    background-color: rgba(0, 0, 0, .8);*/
    display: none;
}

.popup {
    position: fixed;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-sizing: border-box;
    background-color: #105A8D;
    color: #fff;
	z-index: 2147483650;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
}
.popup h2 {
	color: #fff;
	margin: 1rem 0 1rem 0;
}
.close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.close-popup:before {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
}

.close-popup:after {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    transform: rotate(45deg);
    left: -4px;
}

@media screen and (max-width: 768px) {

    .popup {
        width: 100%;
        height: 100vh;
        font-size: 15px;
    }
}
/*#halva {*/
/*	background-image: url("/images/bg/bg5.jpg");*/
/*	background-size: cover;*/
/*}*/
/*=================================*/